<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header class="modal-header">
          <slot name="header">
            <h4>{{$store.state.modal.sTitle}}</h4>
            <button
              type="button"
              class="btn-close"
              @click="close"
            > x </button>
          </slot>
        </header>
        <section class="modal-body">
          <slot name="body">
            <label>{{$store.state.modal.sMsg}}</label>
          </slot>
        </section>
        <footer class="modal-footer">
          <slot name="footer">
            <button
              type="button"
              class="btn-okay"
              @click="close"
            >
              Okay
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "modal",
  methods: {
    close() {
      this.$store.commit("setModal", { show: false, title: "", message: "" });
    }
  }
};
</script>

<style scoped lang="less">
.modal-fade-enter {
  opacity: 0;
}
.modal-fade-leave-active {
  opacity: 0;
  transition: opacity 0.005s ease;
}
.modal-fade-enter-active {
  transition: opacity 0.05s ease;
}
.modal-backdrop {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.modal {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 2%;
  overflow: hidden;
  background-color: #fafbfb;
  background: #fafbfb;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(77, 77, 77, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(77, 77, 77, 1);
  box-shadow: 0px 0px 20px 0px rgba(77, 77, 77, 1);
}
.modal-header {
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  display: table;
  background-color: #ededed;
  width: calc(100% - 20px);
  h4 {
    margin: 0%;
    width: 90%;
    display: table-cell;
    vertical-align: middle;
  }
  .btn-close {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #525252;
  }
}
.modal-footer {
  border-top: 1px solid #ededed;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #ededed;
}
.modal-body {
  max-height: 230px;
  overflow-y: auto;
  padding: 20px 10px;
  position: relative;
  word-break: break-word;
  background-color: #fafbfb;
}
</style>
