<template>
  <div id="app">
    <modal v-show="$store.state.modal.bShow" />    
    <router-view/>
  </div>
</template>

<script>
import Modal from "@/components/Modal.vue";
export default {
  components: {
    Modal
  }
};
</script>

<style lang="less">
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
}
</style>
